@use '../colors.scss';

.title {
  margin: 1rem;
}

.grid {
  display: grid;
  max-width: 720px;
  margin: 1rem;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px;
  row-gap: 5px;

  & a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

.cast {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  border-radius: 0.5rem;
  background-color: colors.$background-light;

  & p {
    margin: 0;
  }
  &:hover {
    background-color: colors.$background-secondary;
  }
}
