.slide {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.spacerVert {
  flex-grow: 1;
}

.spacerHor {
  flex-grow: 1;
}

.inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.textContent {
  font-size: 5vw;
}

.media {
  width: 65%;

  // Remnants of when media elements were a div
  // flex: 30 0 auto;
  // height: 35vw;
  // background-position: center;
  // background-size: cover;
}

.mediaStandalone {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
