$background-light: #353535;
$background-primary: #303030;
$background-secondary: #252525;
$background-tertiary: #151515;

$red: #f04747;
$orange: #e19517;
$yellow: #f7f48b;
$green: #3ba55c;
$blue: #70a1d7;
$purple: #957dad;
$blurple: #7289da;

$text-color: #efefef;
$text-dark: #aaa;

$red-t: #f0474720;
$orange-t: #e1951720;
$blurple-t: #7289da20;
